*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
main{
    height: 100vh;
}
#container{
    background-color: black;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ms_heartbox{
    height: 175px;
    width: 175px;
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.ms_heart{
    color: greenyellow;
    font-size: 1.5rem;
}
.ms_shield-up{
    position: absolute;
    top: 20px;
    left: 30px;
    width: 105px;
    height: 2px;
    background-color: white;
}
.ms_shield-rx{
    position: absolute;
    right: 25px;
    width: 2px;
    height: 105px;
    background-color: white;
}
.ms_shield-lx{
    position: absolute;
    left: 25px;
    width: 2px;
    height: 105px;
    background-color: white;
}
.ms_shield-down{
    position: absolute;
    bottom: 20px;
    left: 30px;
    width: 105px;
    height: 2px;
    background-color: white;
}

.arrow {
    display: inline-block;
    border: solid #FCA101;
    border-width: 0 3px 3px 0;
    padding: 10px;
}

.arrow-up{ 
    position: absolute;
    bottom: 0;
    right: calc(50% - 10px);
    transform: rotate(-135deg); 
}
.arrow-down{ 
    position: absolute;
    top: 0;
    right: calc(50% - 10px);
    transform: rotate(45deg);
}
.arrow-right{
    position: absolute;
    top: 49%;
    right: 1%;  
    transform: rotate(135deg); 
}
.arrow-left{
    position: absolute;
    top: 49%;
    left: 1%; 
    transform: rotate(-45deg);
}